.config/fish/fishd.*
.tmux/resurrect/**
.config/fish/functions/__bass.py
.config/fish/functions/__fastdir_dirhist.fish
.config/fish/functions/__ssh_agent_is_started.fish
.config/fish/functions/__ssh_agent_start.fish
.config/fish/functions/__tf_updt.fish
.config/fish/functions/__z.fish
.config/fish/functions/__z_add.fish
.config/fish/functions/__z_clean.fish
.config/fish/functions/__z_complete.fish
.config/fish/functions/__zo.fish
.config/fish/functions/fisk_concat.fish
.config/fish/functions/apt-queue.fish
.config/fish/functions/apt.fish
.config/fish/functions/apt.help.fish
.config/fish/functions/await.fish
.config/fish/functions/bass.fish
.config/fish/functions/copy-fish_prompt.fish
.config/fish/functions/copy-fish_title.fish
.config/fish/functions/extract.fish
.config/fish/functions/fish_*.fish
.config/fish/functions/fish_greeting.fish
.config/fish/functions/fuck.fish
.config/fish/functions/fundle.fish
.config/fish/functions/last_job_id.fish
.config/fish/functions/ld..fish
.config/fish/functions/pyenv.fish
.config/fish/functions/spin.fish
.config/fish/functions/sudope.fish
.config/fish/functions/thefuck-command-line.fish
.config/fish/functions/theme.fish
.config/fish/functions/theme.util.get.themes.fish
.config/fish/functions/theme.util.remove.current.fish
.config/fish/functions/tio.fish
.config/fish/functions/transfer.fish
.config/fish/functions/vf.fish
.config/fish/functions/vf_activated.fish
.config/fish/functions/vf_deactivated.fish
.config/fish/functions/vf_new.fish
.config/fish/functions/z.awk
.config/fish/functions/zadd.awk
.config/fish/functions/zclean.awk
.config/fisherman/apt
.config/fisherman/bass
.config/fisherman/extract
.config/fisherman/fastdir
.config/fisherman/spin
.config/fisherman/sudope
.config/fisherman/thefuck
.config/fisherman/theme
.tmux/plugins/*

